<%= form_for @repa, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Repa</legend>

    <div class="control-group">
      <%= f.label :type, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :type, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :quand, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :quand, :class => 'date_select' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', repas_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
