<h1>Listing pesees</h1>

<table>
  <tr>
    <th>Quand</th>
    <th>Combien</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pesees.each do |pesee| %>
  <tr>
    <td><%= pesee.quand %></td>
    <td><%= pesee.combien %></td>
    <td><%= link_to 'Show', pesee %></td>
    <td><%= link_to 'Edit', edit_pesee_path(pesee) %></td>
    <td><%= link_to 'Destroy', pesee, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pesee', new_pesee_path %>
