<h1>/Pesee</h1>

<p>
  <b>Quand</b><br>
  <%= @pesee.quand %>
</p>

<p>
  <b>Combien</b><br>
  <%= @pesee.combien %>
</p>

<div class="form-actions">
  <%= link_to 'Back', pesees_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_pesee_path(@pesee), :class => 'btn' %>
  <%= link_to 'Delete', pesee_path(@pesee), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
